
.div{
    position: relative;
}
.text1{
    font-weight: bolder;
    font-size: xx-large;
}
.div h1{
    font-size: 100px;
    top: 50% ;
    left: 50%;
    z-index: 10px;
    display: flex;
    color: white;
    
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
}
.text-center{
    width: 50%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid rgb(163, 43, 43);
}
p{
    text-align: end;
    top: 50% ;
    left: 50%;
    z-index: 10px;
    display: flex;
    color: white;
    
    position: absolute;
}
.info-div{
    height: 600px;
    box-sizing: border-box;

}
.image {
width: 100px;
margin: auto;
}
.info h2{
    text-align: center;
}
.cards{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}
.card1{
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    text-align: center;
    font-size: 22px;
}
.card2{
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    text-align: center;
    font-size: 22px;
}
.card3{
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    text-align: center;
    font-size: 22px;
}
.sec-img{
    height: 400px;
    

}
.sec-img h1{
    left: 50%;
    top: 50%;
 color: white;
    z-index: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
}
.sec-img h2{
    font-size: 100px;
    top: 50% ;
    left: 50%;
    z-index: 30px;
    display: flex;
    color: white;
    
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
}