.cards-contain{
    width: 100%;
    margin: 30px auto;
    box-sizing: border-box;
    border: 1px solid black;
}
.card-text{
    width: 50%;
    margin: auto;
}
.card-text p{
    text-align: center;
    color: gray;
}
.card-text h1{
    text-align: center;
    font-size: 50px;
}